In [3]:
import pandas as pd
s1 = pd.Series({"shravya": "sarah dome", "amrutha": "anara atlantis", "saketh": "skylar kendrick"})
print(s1)

shravya         sarah dome
amrutha     anara atlantis
saketh     skylar kendrick
dtype: object

In [5]:
import pandas as pd
import numpy as np
d = np.array(["empiri", "colliod", "mariam"])
s2 = pd.Series(d)
print(s2)

0     empiri
1    colliod
2     mariam
dtype: object

In [7]:
import pandas as pd
import numpy as np
s3 = {1: 'e', 2: 't', 4: 'r'}
s = pd.Series(s3, index=(2, 4, 1))
print(s)

2    t
4    r
1    e
dtype: object

In [9]:
import pandas as pd
s = pd.Series([1, 3, 3])
p = pd.Series([3, 7, 8])
print(s + p)

0     4
1    10
2    11
dtype: int64

In [11]:
import pandas as pd
g = pd.Series([0, 9, 6])
e = s + p * g
print(e)

0     1
1    66
2    51
dtype: int64

In [13]:
u = s / p
print(u)

0    0.333333
1    0.428571
2    0.375000
dtype: float64

In [15]:
s[1:3]

1    3
2    3
dtype: int64

In [17]:
import pandas as pd
t = {'Name of the student': [66, 71, 82, 7, 54, 91], 'overall percentage': ['Hriti', 'Namitha', 'Alina', 'Jaya', 'Ishi', 'Amrutha']}
df1 = pd.DataFrame(t)
print(df1)

   Name of the student overall percentage
0                   66              Hriti
1                   71            Namitha
2                   82              Alina
3                    7               Jaya
4                   54               Ishi
5                   91            Amrutha

In [19]:
import pandas as pd
import numpy as np
s6 = pd.Series(np.arange(2, 9), index=[1, 2, 3, 4, 5, 6, 7])
print(s6)

1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [21]:
s6[1:3]

2    3
3    4
dtype: int64

In [23]:
import pandas as pd
b = [1, 2, 3, 4, 5]
o = pd.DataFrame(b)
o.name = 'num'
print(o)

   0
0  1
1  2
2  3
3  4
4  5